<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".KomojuPaymentActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Komoju.Transparent.Activity">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="@string/komoju_consumer_app_scheme" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>
</manifest>